@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    filter: blur(10px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn .8s ease-in;
}
